.auth-page {
    margin-top: 40%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}
<<<<<<< HEAD
=======
.logo{
  margin-bottom: 2vh;
}

>>>>>>> add-db-firebase
.auth {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}
.auth > input,
.loginBtn {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  font-weight: 700;
}

.loginBtn{
    color: #fff;
    background: linear-gradient(to right, #00D2E3, #670EFD);
}
.toggleBtn{
  background: none;
  border: none;
  border-bottom: 2px solid #00D2E3;
  color: #fff;
}
