.timer{
    background: #7fb8ec;
    color: #fff;
    max-width: 350px;
    text-align: center;
}
.currentTime{
    font-size: 1.3rem;
    margin-bottom: 20px;
}
.timerValue{
    font-size: 2rem;
    margin-bottom: 20px;
}
.startBtn, .clearBtn{
    padding: 15px;
    border-radius: 40%;
    margin: 10px;
}