.userInfo {
  padding: 20px;
  border-radius: 20px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.image {
  max-width: 50px;
  border-radius: 20%;
  margin-bottom: 1vh;
}
.logOut {
  width: 50px;
  padding: 10px;
  border-radius: 20%;
  border: none;
  cursor: pointer;
}
